*.raw
*.slison
*.pyc
min_max.txt
.ipynb_checkpoints/
data/
out/
out_*/
*jupyterhub*
texture_convert/
env/
*.sublime-workspace
*.sublime-project
__pycache__
.cache
.idea/*
env/
slayer.egg-info/
